
.font_gil_med_24 {
  font-family: "Gilroy-Medium ☞",sans-serif;
  font-size: 2rem;
  color: #000;
  line-height: 3rem;
}

.font_gil_med_20 {
  font-family: "Gilroy-Medium ☞",sans-serif;
  font-size: 1.67rem;
  color: #888;
  line-height: 2rem;
}

.font_gil_med_16 {
  font-family: "Gilroy-Medium ☞",sans-serif;
  font-size: 1.33rem;
  color: #888;
  line-height: 3.33rem;
}

.font_gil_med_15 {
  font-family: "Gilroy-Medium ☞",sans-serif;
  font-size: 1.25rem;
  color: #666;
  line-height: 1.83rem;
}

.font_gil_med_11 {
  font-family: "Gilroy-Medium ☞",sans-serif;
  font-size: 0.92rem;
  color: #666;
  line-height: 1.33rem;
}

.font_gil_reg_16 {
  font-family: "Gilroy-Regular ☞",sans-serif;
  font-size: 1.33rem;
  color: #666;
  line-height: 2rem;
}

.font_gil_reg_15 {
  font-family: "Gilroy-Regular ☞",sans-serif;
  font-size: 1.25rem;
  color: #666;
  line-height: 1.83rem;
}

.font_gil_bold_60_header {
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 5rem;
  color: #000;
  line-height: 5.83rem;
}

.font_gil_bold_13 {
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 1.08rem;
  color: #FFF;
  line-height: 1.58rem;
}

.font_gil_bold_45_header {
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 3.75rem;
  color: #000;
  line-height:4.42rem;
}

.font_gil_bold_24_header {
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 2rem;
  color: #000;
  line-height: 2.33rem;
  margin: 1rem 0;
}

.font_gil_bold_20_header {
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 1.67rem;
  color: #000;
  line-height: 2.5rem;
}

.font_gil_semi_bold_16 {
  font-family: "Gilroy-SemiBold ☞",sans-serif;
  font-size: 1.33rem;
  color: #000;
  line-height: 2rem;
}