.intro {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
    width: 515px;
  }

  &__text p {
    margin-bottom: 1.5rem;
  }

  & a {
    width: 140px;
    height: 40px;
    border-radius: 50px;
    font-family: "Gilroy-Bold ☞",sans-serif;
    font-size: 15px;
    line-height: 17.58px;
    text-align: left;
    box-shadow: 4px 4px 8px 0 #F2582233;
  }

  &__pic {
    width: 70%;
  }
}