@import 'scss/fonts';
@import 'scss/header';
@import 'scss/footer';
@import 'scss/plans';
@import 'scss/comments';
@import 'scss/intro';
@import 'scss/facilities';
@import 'scss/advantages';
@import 'scss/about';
@import 'scss/statistic';
@import 'scss/team';
@import 'scss/check_speed';
@import 'scss/news';
@import 'scss/media';

html, body {
  font-size: 12px;

  @media (max-width: 1440px) {
    html, body {
      font-size: 9px;
    }
  }

  @media (max-width: 425px) {
    html, body {
      font-size: 7px;
    }
  }
}

h3, h5 {
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  //border: 1px solid #F25822;
}

.container_vertical {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  padding: 0 calc(50% - 650px);
}

.dark_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: #F25822;
  color: #FFF;
  font-family: "Gilroy-Regular ☞",sans-serif;
  font-size: 12px;
  transition: ease-out 0.2s;
}

.light_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  text-decoration: none;
  background: #F2582240;
  color: #F25822;
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 13px;
  line-height: 32.5px;
  text-align: center;
  transition: ease-out 0.2s;
}

.dark_link:hover {
  color: #F25822;
  background-color: rgba(242, 88, 34, 0.24);
  cursor: pointer;
}

.links .container{
  display: flex;
  justify-content: center;
}

.links img {
  margin: .5rem;
  padding: 0.5rem;
}

.links img:hover {
  cursor: pointer;
}

.gallery_nav_block {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.gallery_nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  transition: all .5s;
}

.gallery_nav_menu:hover {
  cursor: pointer;
  opacity: 1;
}

.gallery_crumbs {
  display: flex;
  margin-right: .2rem;
  flex-direction: row;
  align-items: center;
}

.gallery_dot {
  display: block;
  border-radius: 12px;
  width: 8px;
  height: 8px;
  background-color: #DDDDDD;
  transition: ease .3s;
}

.gallery_dot:hover {
  background-color: #F25822;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.gallery_dot:not(:last-child) {
  margin-right: 1rem;
}

.gallery {
  width: 100%;
  overflow: hidden;
}

.gallery_container {
  display: flex;
  gap: 1rem;
  padding: 3rem;
  transition: all ease-in-out .6s;
}

.gallery_block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  min-width: 570px;
  height: 270px;
  text-align: center;
  border: 2px solid #EEE;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 25px;
  opacity: .4;
}

.gallery_block p {
  line-height: 22px;
}

.active {
  width: 12px;
  height: 12px;
  background-color: #F25822;
}

.shown {
  box-shadow: 15px 25px 60px -10px #0000001A;
  opacity: 1;
}




