@import 'scss/fonts';
@import 'scss/header';
@import 'scss/footer';
@import 'scss/plans';
@import 'scss/comments';
@import 'scss/intro';
@import 'scss/facilities';
@import 'scss/advantages';
@import 'scss/about';
@import 'scss/statistic';
@import 'scss/team';
@import 'scss/check_speed';
@import 'scss/news';

h3, h5 {
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_horizontal {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_vertical {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  padding: 0 calc(50% - 600px);
}

.dark_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: #F25822;
  color: #FFF;
  font-family: "Gilroy-Regular ☞",sans-serif;
  font-weight: 600;
  font-size: 12px;
  transition: ease-out 0.2s;
}

.light_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  text-decoration: none;
  background: #F2582240;
  color: #F25822;
  font-family: "Gilroy-Bold ☞",sans-serif;
  font-size: 13px;
  line-height: 32.5px;
  text-align: center;
  transition: ease-out 0.2s;
}

.dark_link:hover {
  color: #F25822;
  background-color: rgba(242, 88, 34, 0.24);
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.links img {
  margin: .5rem;
  padding: 0.5rem;
}

.links img:hover {
  cursor: pointer;
}

.active {
  width: 12px;
  height: 12px;
  background-color: #F25822;
}

.shown {
  box-shadow: 15px 25px 60px -10px #0000001A;
  opacity: 1;
}




